<div class="modal-header header-form-dialog">
    <h4 class="modal-title title-form-dialog" translate="CMN_MESSAGE_TITLE">Thong bao</h4>
</div>

<div class="modal-body">

   <div class="row" style="min-height:70px;text-align:center;border:0px solid; font-size:15px;line-height:25px; margin:5px;" translate="{{message}}" >
       {{message}}
   </div>
           
</div>

<div class="modal-footer footer-form-dialog" style="text-align:center;">
    
    <button type="button" ng-click="cancel()" class="btn btn-danger" data-dismiss="modal" translate="CMN_BTN_CLOSE"> Thoát </button>
    
</div>