<div class="{{ngclass}}" style="height:32px;overflow:visible;" >
    <p class="input-group">
        <input type="text" class="form-control" style="background-color:white;" 
               ng-readonly="true" ng-change="datepickerChange(this)" uib-datepicker-popup="dd/MM/yyyy" 
               ng-model="ngModel" is-open="popup1.opened" 
               datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        <span class="input-group-btn ">
            <button type="button" class="btn btn-default btndatepicker" tabindex="-1" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>
</div>