<div class="page-sidebar navbar-collapse collapse">
	
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
		<li class="sidebar-search-wrapper">
			
			<form class="sidebar-search sidebar-search-bordered" action="extra_search.html" method="POST">
				<a href="javascript:;" class="remove">
				<i class="icon-close"></i>
				</a>
				
			</form>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>
		<li class="start">
			<a href="#/dashboard.html">
			<i class="icon-home"></i>
			<span class="title">Dashboard</span>
			</a>
		</li>
		<!--<li>
			<a href="javascript:;">
			<i class="icon-settings"></i>
			<span class="title">Master Management</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/ui_bootstrap.html">
					<i class="icon-puzzle"></i> Category List</span>
					</a>
				</li>
				<li>
					<a href="#/file_upload.html">
					<i class="icon-paper-clip"></i> Item List</span>
					</a>
				</li>
				
			</ul>
		</li>-->
		<!-- Master -->
		
		<li>
			<a href="javascript:;">
			<i class="icon-settings"></i>
			<span class="title">Master Management</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/itemcategory.html">
					<i class="icon-puzzle"></i><span> Item Category</span>
					</a>
				</li>

                <li>
					<a href="#/Customer.html">
					<i class="icon-puzzle"></i><span> Customer</span>
					</a>
				</li>
                <li>
					<a href="#/Unit.html">
					<i class="icon-puzzle"></i><span> Unit</span>
					</a>
				</li>
                <li>
					<a href="#/SupplierCategory.html">
					<i class="icon-puzzle"></i><span> Supplier Category</span>
					</a>
				</li>
                <li>
					<a href="#/CustomerCategory.html">
					<i class="icon-puzzle"></i><span> Customer Category</span>
					</a>
                </li>
			    <li>
			        <a href="#/Company.html">
			            <i class="icon-puzzle"></i><span> Company</span>
			        </a>
			    </li>
			    <li>
			        <a href="#/Branch.html">
			            <i class="icon-puzzle"></i><span> Branch</span>
			        </a>
			    </li>
			    <li>
			        <a href="#/LocationStore.html">
			            <i class="icon-puzzle"></i><span> Location Store</span>
			        </a>
			    </li>
			    <li>
			        <a href="#/Partner.html">
			            <i class="icon-puzzle"></i><span> Partner</span>
			        </a>
			    </li>
			    <!--<li>
			        <a href="#/Department.html">
			            <i class="icon-puzzle"></i><span>Department</span>
			        </a>
			    </li>-->
			    <li>
			        <a href="#/Employee.html">
			            <i class="icon-puzzle"></i><span>Employee</span>
			        </a>
			    </li>
			    <li>
			        <a href="#/SaleArea.html">
			            <i class="icon-puzzle"></i><span>Sale Area</span>
			        </a>
			    </li>
			    <li>
			        <a href="#/SaleTable.html">
			            <i class="icon-puzzle"></i><span>Sale Table</span>
			        </a>
			    </li>
			    <li>
			        <a href="#/Size.html">
			            <i class="icon-puzzle"></i><span>Size</span>
			        </a>
			    </li>
			    <li>
			        <a href="#/Color.html">
			            <i class="icon-puzzle"></i><span>Color</span>
			        </a>
			    </li>
			    <li>
			        <a href="#/CostList.html">
			            <i class="icon-puzzle"></i><span>Cost List</span>
			        </a>
			    </li>
			    <li>
			        <a href="#/PriceList.html">
			            <i class="icon-puzzle"></i><span>Price List</span>
			        </a>
			    </li>
                <li>
			        <a href="#/RelationAreaTimesPrice.html">
			            <i class="icon-puzzle"></i><span>RelationAreaTimesPrice</span>
			        </a>
			    </li>
			    <li>
			        <a href="#/Account.html">
			            <i class="icon-puzzle"></i><span>Account</span>
			        </a>
			    </li>
			    <li>
			        <a href="#/Role.html">
			            <i class="icon-puzzle"></i><span>Role</span>
			        </a>
			    </li>
			    <li>
			        <a href="#/ResetPassword.html">
			            <i class="icon-puzzle"></i><span>Reset Password</span>
			        </a>

				<!--<li>
					<a href="#/file_upload.html">
					<i class="icon-paper-clip"></i> Category Management</span>
					</a>
				</li>-->
				<li>
                    <a href="#/item.html">
                        <i class="icon-check"></i> <span> Item Management</span>
                    </a>
				</li>
			</ul>
		</li>
		
		<!-- End Master -->
		<li>
			<a href="javascript:;">
			<i class="icon-settings"></i>
			<span class="title">Sales Management</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/ui_bootstrap.html">
					<i class="icon-puzzle"></i><span> Sale Order</span>
					</a>
				</li>
				<li>
					<a href="#/file_upload.html">
					<i class="icon-paper-clip"></i><span> Sale Invoice</span>
					</a>
				</li>
				<li>
					<a href="#/ui_select.html">
					<i class="icon-check"></i><span> Sale Return</span>
					</a>
				</li>
			    <li>
			        <a href="#/ui_select.html">
			            <i class="icon-check"></i><span> Full Screen</span>
			        </a>
			    </li>
                <li>
			        <a href="#/TimeOfSale.html">
			            <i class="icon-check"></i><span>Time Of Sale</span>
			        </a>
			    </li>
			</ul>
		</li>
						
	</ul>
	<!-- END SIDEBAR MENU -->
</div>	