@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.Action("LoadUploadFiles", "FileSystem", new { itemguid = Guid.NewGuid().ToString() , id = 1, auto = "false" })