<div ng-controller="BuoiTrucCtrl">
    <button type="button" class="btn btn-primary btn-sm" ng-click="fnSearch()">Search</button>
</div>
<!--Detail List-->

    <!--<div class="masterpage-header">
        <div class="col-sm-3" style="border: 0px solid;">
            <span class="title-list" translate="BRANCH_LIST_TITLE">Danh sách chi nhánh</span>
        </div>
        <div class="col-sm-9" style="border: 0px solid; padding-right: 0px; padding-left: 0px;">

            <div style="border: 0px solid; float: left; line-height: 30px;" class="text-stat">{{messageresult}}</div>

            <div style="float: right; border: 0px solid red;">

                <button type="button" class="btn btn-info btn-sm" ng-click="fnAddOrEdit(0)" translate="CMN_BTN_ADD_NEW">
                    Thêm mới
                </button>

                <button type="button" class="btn btn-danger btn-sm" ng-click="fnDeleteList()" translate="CMN_BTN_DELETE">
                    Xóa
                </button>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="master-search">
        <div class="master-search-bar">
            <ul>
                <li>
                    <input type="text" ng-model="Code" placeholder="{{ 'BRANCH_LABEL_CODE' | translate }}" class="form-control" />
                </li>
                <li>
                    <input type="text" ng-model="Name" placeholder="{{ 'BRANCH_LABEL_NAME' | translate }}" class="form-control" />
                </li>
                <li>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="fnSearch()" translate="CMN_BTN_SEARCH"></button>
                </li>
            </ul>
        </div>
        <div class="master-search-result">
            <custom-grid options="gridOptions" edit="EditData(valueEdit)" remove="DeleteData(valueDel)" chkevent="ChkboxEvent(value)" search="SearchListOnGrid(pageIndex)"></custom-grid>
        </div>
    </div>

    <div style="clear: both"></div>-->



