@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CNTT HUTECH, IT HUTECH, ERP SYSTEM, Business management System, Edu management System ">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
    <meta name="author" content="IOIORT Team - Email: nv.ngoc@hutech.edu.vn">
    <title>AccessDenied</title>
</head>
<body>
  @*  <img style="position: absolute; left: 50%; top: 70%; margin-left: -285px; margin-top: -190px;" alt="Page Not Found (404)." src="~/Images/404.jpg">*@
    <div style="width:600px;margin:10px auto;">
        <h1>
            Truy cập bị từ chối...
        </h1>
        <p>
            Vui lòng kiểm tra lại URL hoặc liên hệ với người quản trị.
        </p>
        <hr />
        <p>
            Trung tâm Quản lý Công nghệ Thông tin - HUTECH
            <br />
            475A Điện Biên Phủ, Phường 25, Quận Bình Thạnh, TP. HCM<br />
            Email: tt.qlcntt@hutech.edu.vn <br />
            Điện thoại: (08) 3512 0783 - Nội bộ: 45
            
        </p>
        <div id="navigation">
            Về: <a class="navigation" href="~/home">Trang chủ</a> | <a class="navigation"
                                                                    href="http://qlcntt.hutech.edu.vn/">Trung tâm IT</a>
        </div>
    </div>
</body>
</html>
